{% extends "layout/index.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<p class='container-fluid w-100 h3 text-center bg-secondary mt-3 p-2 text-light'>Treading</p>
<div class='home1'>
    {% for items in product_trend %}
    <a href="{% url 'single_product' items.subcategory.category.name items.subcategory.name items.name %}" class="home2 card align-items-center shadow p-2 text-decoration-none " >
        <img src='{{items.product_image.url}}' class="card-img-top w-50 m-2 rounded-3 " alt="...">
        <div class='d-flex gap-5'>
            <p>{{items.name}}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}