{% extends "layout/index.html" %}
{% block title %}Category{% endblock title %}
{% block content %}
<p class='container-fluid w-100 h3 text-center bg-secondary mt-3 p-2 text-light'>{{pname}}</p>

    <div class='subnavigation'>
        <ul class='options subnavoption'>
            <li><a class='option text-decoration-none' href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a></li>
            <li><a class='option text-decoration-none' href="{% url 'category' %}">{{"Categore" | capfirst}}</a> <</li>
            <li><a class='option text-decoration-none' href="{% url 'category' cname %}">{{cname |capfirst}}</a> <</li>
            <li>{{pname | capfirst}} <</li>
        </ul>
    </div>
    <div class='home1'>
        {% for items in product %}
        <a href="{% url 'single_product' cname pname items.name %}" class="home2 card align-items-center shadow p-2 text-decoration-none " style="width: 16rem; hight: 10rem;">
            <img src='{{items.product_image.url}}' class="card-img-top w-75 m-2 rounded-3 " alt="...">
            {% if items.trending %}
            <p class='position-absolute end-0 mx-2 my-2'><i class="fa-solid fa-fire text-warning fs-4"></i></p>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title ">{{items.name | upper}}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock content %}