{% extends "layout/index.html" %}
{% block title %}Category{% endblock title %}
{% block content %}
<p class='container-fluid w-100 h3 text-center bg-secondary mt-3 p-2 text-light'>{{cname}}</p>
    <div class='subnavigation'>
        <ul class='options subnavoption'>
            <li><a class='option text-decoration-none' href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a></li>
            <li><a class='option text-decoration-none' href="{% url 'category' %}">{{"Categore" | capfirst}}</a> <</li>
            <li>{{cname |capfirst}} <</li>
        </ul>
    </div>
    <div class='home1'>
        {% for items in subcategory %}
        <a href='{% url 'products' cname items.name %}' class="home2 card align-items-center shadow p-2">
            <img src='{{items.image.url}}' class="card-img-top w-75 m-2 rounded-3 " alt="...">
            <div class="card-body">
                <h5 class="card-title">{{items.name | upper}}</h5>
                {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
                {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock content %}
